
<html>
<head>
   
   <script>
   // Define some global variables
   var summary_pars = {'x1': '',
                     'y1': '',
                     'x2': '',
                     'y2': '',
                     };
                  
   var history_pars = {'x': '',
                     'y1': '',
                     'y2': '',
                     'y3': '',
                     'y4': '',
                     'y5': '',
                     'y6': '',
                     };
                     
   var selected_indices = [];
   </script>
   
   <script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
   <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
<!--     <script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script> -->
{{ script | safe }}
</head>
<body>
    <div class=page>
        <h1>MESA Track explorer</h1>
        
        <div>
        {{ summary_div | safe }}
        </div>
        
        <h2>Evolutionary history</h2>
        
        <div>
        {{ history_div | safe }}
        </div>
      
   </div>
</body>
</html>
