
<html>
<head>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160011552-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-160011552-1');
    </script>

   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/search_track_scripts.js') }}"></script>


    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
{#   <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-gl-1.4.0.min.js"></script>#}
{#   <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-1.4.0.min.js"></script>#}
   {{ script | safe }}


</head>
<body>

    <div style="display: block; padding-bottom: 20px">
        <h1 style="display: inline;">MESA Track explorer: Search tracks</h1>
        <a href="/">explore tracks</a>
        <a href="/compare_models">compare grids</a>
        <a href="/search_track">search tracks</a>
    </div>

    <div>
    <form action="/search_track" method="GET">
        <table>
        <th>
            <label class="bk" for="grid">Select a model grid:</label>
        </th>
        <th>
            <select id="grid" name="grid">
                {% for grid in grids %}
                {% if grid == selected_grid %}
                <option value="{{grid}}" selected>{{ grid }}</option>
                {% else %}
                <option value="{{grid}}">{{ grid }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </th>
        <th>
            <label class="bk" for="track">Track name:</label>
        </th>
        <th>
            <input type="text" id="track" name="track">
        </th>
        <th>
            <button type="submit">Load Track</button>
        </th>
        </table>
    </form>
    </div>

    {% if properties_div %}
    <h2 id="evolution_header">Evolution history of: {{ track_name }}</h2>

    <div>
    {{ properties_div | safe }}
    </div>

    <div>
    {{ history_div | safe }}
    </div>
    {% else %}
    <h2 id="evolution_header">Search for a track to display it...</h2>
    {% endif %}

</body>
</html>
